<h1>Articles listing page</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Delete', article_path(article.id), data:{turbo_method: :delete} %></td>
      </tr>
    <% end %>
  </tbody>
</table>